/* Setter margen til 0 og sikrer at hele skjermen dekkes */
body {
  margin: 0;
  height: 100vh;
  background-color: black;
}

/* Stil for "back"-lenken */
.back {
  position: absolute; /* Gjør at vi kan plassere elementet hvor som helst på siden */
  top: 20px; /* Avstand fra toppen av siden */
  left: 20px; /* Avstand fra venstre side av siden */
  text-decoration: none; /* Fjerner understreking på lenken */
  font-size: 18px; /* Størrelse på teksten */
  color: white; /* Farge på teksten */
  background-color: rgba(0, 0, 0, 0.5); /* Halvgjennomsiktig bakgrunnsfarge */
  padding: 10px 15px; /* Innvendig marg */
  border-radius: 5px; /* Runde hjørner */
}

/* Hover-effekt for "back"-lenken */
.back:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Endrer bakgrunnsfargen ved hover */
}

/* Stil for et hjerteikon med animasjon */
span {
  background: url("https://cdn1.iconfinder.com/data/icons/health-care-66/32/Heart_Beats-256.png");
  width: 100px;
  height: 100px;
  position: absolute;
  pointer-events: none; /* Gjør elementet ikke-klikkbart */
  background-size: cover;
  left: 50%; /* Plasserer elementet i midten av skjermen horisontalt */
  top: 50%; /* Plasserer elementet i midten av skjermen vertikalt */
  transform: translate(-50%, -50%); /* Sentrerer elementet */
  animation: animate 6s linear infinite; /* Legger til en kontinuerlig animasjon */
}

/* Definerer animasjonen som endrer plassering, gjennomsiktighet og farge */
@keyframes animate {
  0% {
    transform: translate(-50%, -50%); /* Startposisjon */
    opacity: 1; /* Full synlighet */
    filter: hue-rotate(0); /* Startfarge */
  }
  100% {
    transform: translate(
      -50%,
      -5000%
    ); /* Beveger elementet bort fra skjermen */
    opacity: 0; /* Gjør elementet usynlig */
    filter: hue-rotate(720deg); /* Endrer fargen gradvis */
  }
}
