@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
/* Importerer en spesifikk font fra Google Fonts */

/* Stil for hele body-elementet */
body {
  margin: 0; /* Fjerner standard margen */
  display: flex; /* Bruker flexbox for å sentrere innholdet */
  justify-content: center; /* Sentrerer innholdet horisontalt */
  height: 100vh; /* Setter høyden til hele visningshøyden */
  align-items: center; /* Sentrerer innholdet vertikalt */
  background-color: limegreen; /* Setter bakgrunnsfargen til limegrønn */
  font-family: "Protest Guerrilla", sans-serif; /* Bruker den importerte fonten med fallback til sans-serif */
  font-size: 3rem; /* Setter skriftstørrelsen til 3rem */
}

/* Stil for "back"-lenken */
.back {
  position: absolute; /* Gjør at vi kan plassere elementet hvor som helst på siden */
  top: 20px; /* Avstand fra toppen av siden */
  left: 20px; /* Avstand fra venstre side av siden */
  text-decoration: none; /* Fjerner understreking på lenken */
  font-size: 18px; /* Størrelse på teksten */
  color: white; /* Farge på teksten */
  background-color: rgba(0, 0, 0, 0.5); /* Halvgjennomsiktig bakgrunnsfarge */
  padding: 10px 15px; /* Innvendig marg */
  border-radius: 5px; /* Runde hjørner */
}

/* Hover-effekt for "back"-lenken */
.back:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Endrer bakgrunnsfargen ved hover */
}
